.taskReport{
  display:flex;
  flex-direction:column;
  width:100%;
  flex:1;
  .el-card{
    &:first-child{
      height:28%;
      margin-bottom:8px;
      ::v-deep{
        .el-card__body{
          height:calc(100% - 50px);
          padding:25px 15px;
        }
      }
    }
    &:last-child{
      height:72%;
      margin-bottom:0;
      ::v-deep{
        .el-card__body{
          height:calc(100% - 50px);
          padding:25px 12px;
          .item{
             height:100%;
          }
        }
      }
    }
    ::v-deep{
      .el-card__header{
        background-color:#F5F7FA;
        color: #333;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        padding: 12px 20px;
        span{
          margin-left: 10px;
          line-height: 20px;
          display: inline-block;
        }
        i{
          width: 3px;
          height:20px;
          background-color:#0C9ED7;
          display: inline-block;
          position: relative;
          top: 4px;
        }
      }
      .el-card__body{
        .tlist{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin: unset;
          padding:unset;
          height: 100%;
          li{
            width:33.33%;
            height:100%;
            padding:0 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:space-between;
            border-radius:5px;
            &:first-child{
              background-color:rgba(241, 245, 255, 1);
              .tleft span{
                margin-left:40px;
              }
              u{color: rgba(124, 138, 255, 1);}
            }
            &:nth-child(2){
              background-color:rgba(255, 241, 241, 1);
              margin:0 15px;
              .tleft span{
                margin-left:40px;
              }
              u{color: rgba(255, 126, 124, 1);}
            }
            &:nth-child(3){
              background-color:rgba(231, 250, 248, 1);
              u{color: rgba(28, 209, 184, 1);}
              .tleft{
                width:50%;
                u{
                  margin-left:40px;
                }
              }
            }
            .tleft{
              display: flex;
              flex-direction: row;
              align-items: center;
              i{
                width:70px;
                height:70px;
                background-color: #fff;
                border-radius:50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
               &.icon-quanbushixiang-xuanzhong::before{
                 font-size:35px;
                 -webkit-line-clamp: 2;
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                 background-image: -webkit-linear-gradient(0deg, #85B8FF, #7B82FF);
               }
                &.icon-weichulidingdan::before{
                  font-size:35px;
                  -webkit-line-clamp: 2;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-image: -webkit-linear-gradient(0deg,#FCA667, #FE817E);
                }
              }
              span{
                font-size:20px;
                font-family: 'Microsoft YaHei';
                color:rgba(114, 116, 119, 1);
              }
            }
            u{
              font-family:'Arial';
              text-decoration: none;
              font-size:48px;
              font-weight:bold;
            }
            .tright{
              width:50%;
              padding-left:40px;
              border-left:2px solid rgba(28, 209, 184, .2);
              p{
                margin:unset;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                u{
                  font-size:24px;
                }
              }
            }
          }
        }
        .el-table{
          height: 100%;
          .el-table__header{
            th{
              background:rgba(245, 247, 250, 1);
            }
          }
          .el-table__body{
            .el-button{
              padding:9px 20px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
