.tool-focus {
  color: #fff !important;
  background-color: #1e4999 !important;
}

.tool {
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgba(5, 97, 202, 0.5);
  border-right: 1.2px solid #09d5f6;

  .option {
    border: 1.2px solid #09d5f6;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    padding: 5px 16px;
    font-size: 14px;

    .iconfont {
      margin-right: 0.3vw;
    }

    .icon {
      margin-right: 5px;

      i {
        font-size: 16px;
      }
    }

    .text {
      width: 2vw;
      margin-top: -2px;
    }

    &:hover {
      color: #09d5f6;
    }
  }

  .active {
    color: #09d5f6;
  }

  .hide {
    display: none;
  }

  .el-dialog__wrapper {
    pointer-events: none;
  }
}

.attrDetailBox,.attrBox {
  .el-dialog__wrapper {
    pointer-events: none;
  }
}
// .el-dialog__wrapper {
//   pointer-events: none;
// }


.tool-basemap {
  .tool-main {
    display: flex;
    // flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .tool-item {
    width: 48%;
    margin-bottom: 5px;
    font-size: 14px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px !important;

    .base-img {
      border: 2px solid #fff;
      border-radius: 4px;
      overflow: hidden;
      height: 30px;
      width: 80%;

      .el-image {
        height: 100%;
        width: 100%;
      }
    }

    .base-label {
      border-radius: 4px;
      margin-top: 4px;
      padding: 2px 10px;
      transition: 0.3s;
    }
  }

  &:hover {
    cursor: pointer;
    color: #2d559f;
    // background-color: #2d559f69;
  }

  .focus-base {
    .base-img {
      border-color: rgba(32, 121, 222, 1);
    }

    .base-label {
      background-color: #2d559f;
      color: #fff !important;
    }
  }
}

.measure-focus {
  color: #2d559f;
  background-color: #2d559f69;
}

.tool {
  .el-dialog {
    pointer-events: all;
    // width: 320px !important;
    padding: 0 !important;
    box-shadow: 0px 0px 7px 0px rgba(76, 138, 207, 0.48);
    border-radius: 4px;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 20%;
    overflow: hidden;
    background-color: transparent;
    //border: 1.5px solid #09d5f6;
    margin-top: unset !important;

    .el-dialog__header {
      margin-right: 0;
      padding: 8px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //background-color: #0b8ec8;
      background-color: rgba(32, 121, 222, 0.8);
      font-size: 15px;
      letter-spacing: 2px;

      .el-dialog__title {
        color: #fff;
      }

      .el-dialog__headerbtn {
        margin-top: -6px;

        .el-dialog__close {
          color: #fff;
        }
      }
    }

    .el-dialog__body {
      padding: 0px;
      background-color: transparent;
    }


    .tool-main {
      display: flex;
      justify-content: space-around;
      background-color: rgba(245, 245, 245, 0.938);
    }

    .tool-item {
      font-size: 12px;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-radius: 4px;

      .base-img {
        flex: 1;
        overflow: hidden;
        margin-bottom: 10px;

        .iconfont {
          font-size: 30px;
        }
      }

      &:hover {
        cursor: pointer;
        color: #2d559f;
        background-color: #2d559f69;
      }

      .icon-sanjiaoxing {
        font-weight: 700;
      }
    }


  }
}